<?php

$helper = $block->getHelper();
$helper->init();

if(!$helper->isEnabled()) {
  return;
}

if ( !function_exists('fpqr') ){
  function fpqr($s){
    if ($s !== null && is_string($s)) {
      $s = str_replace("'", "\'", $s);
      $s = str_replace("<", "&lt;", $s);
      $s = str_replace(">", "&gt;", $s);
    }
    return $s;
  }
}

$disableThisUrl = false;
$disabledUrlString = $helper->getConfig('fanplayr/options/disable_on_urls');
if (!empty($disabledUrlString)) {
  $disabledUrls = explode(',', $disabledUrlString);
  if (count($disabledUrls)) {
    $currentUrl = $helper->getCurrentUrl();
    foreach($disabledUrls as $url) {
      $url = trim($url);
      if (strstr($currentUrl, $url) !== false) {
        $disableThisUrl = true;
        break;
      }
    }
  }
}
if($disableThisUrl) {
  return;
}

// get the controller infos, as we don't want to output on checkout or on success
$request = $helper->getRequest();
$pController = $request->getControllerName();
$pAction = $request->getActionName();
$pRate = $request->getRouteName();

$path = $pController . '/' . $pAction . '/' . $pRate;

// do not go on checkout
//
// checkout/addresses/multishipping, checkout_address/newShipping/multishipping, checkout/shipping/multishipping
// checkout/billing/multishipping, checkout/overview/multishipping, checkout/register/multishipping
if ( $path === 'index/index/checkout' || $pRate === 'multishipping' ) {
  return;
}

// pre js?
$preJs = $helper->getConfig('fanplayr/extra/prejs');
if ($preJs) {
  ?><script><?php echo $preJs ?></script><?php
}

// do not go on thank you page
if ( $path === 'onepage/success/checkout' || $path === 'checkout/success/multishipping' ) {

  // --------------------------
  $accountKey = $helper->getAccountKey();
  $storeDomain = $helper->getStoreDomain();

  // --------------------------
  $orderId = '';
  $orderNumber = '';
  $subTotal = 0;
  $total = 0;
  $discount = 0;
  $discountCode = '';
  $shipping = 0;
  $tax = 0;
  $currency = '';
  $orderEmail = '';
  $firstName = '';
  $lastName = '';
  $customerEmail = '';
  $customerId = '';
  $products = '[]';

  $lastOrder = $helper->getLastOrderDetails();
  $helper->clearLastOrder();

  if ( $lastOrder ) {
    $orderId = $lastOrder->orderId;
    $orderNumber = $lastOrder->orderNumber;
    $quoteId = $lastOrder->quoteId;
    $subTotal = $lastOrder->subTotal;
    $total = $lastOrder->total;
    $discount = $lastOrder->discount;
    $discountCode = fpqr($lastOrder->discountCode);
    $shipping = $lastOrder->shipping;
    $tax = $lastOrder->tax;
    $currency = $lastOrder->currency;
    $orderEmail = fpqr($lastOrder->orderEmail);
    $firstName = fpqr($lastOrder->firstName);
    $lastName = fpqr($lastOrder->lastName);
    $customerEmail = fpqr($lastOrder->customerEmail);
    $customerId = fpqr($lastOrder->customerId);
    $products = fpqr($lastOrder->products);
  }

?><script>
  (function(d, w, s) {
    w.fanplayr = w.fanplayr || { _i:[] };
    w.fanplayr.custom = w.fanplayr.custom || {};
    var _ = w.fanplayr.custom;

    if ( !w.fp_sales_orders ) {
      w.fp_sales_orders = {
        version: 3,
        accountKey: _.accountKey || '<?php echo $accountKey ?>',
        storeDomain: _.storeDomain || '<?php echo $storeDomain ?>',
        data: {
          orderId: '<?php echo $orderId ?>',
          orderNumber: '<?php echo $orderNumber ?>',
          subTotal: <?php echo $subTotal ?>,
          total: <?php echo $total ?>,
          discount: <?php echo $discount ?>,
          discountCode: '<?php echo $discountCode ?>',
          shipping: <?php echo $shipping ?>,
          tax: <?php echo $tax ?>,
          currency: '<?php echo $currency ?>',
          orderEmail: '<?php echo $orderEmail ?>',
          firstName: '<?php echo $firstName ?>',
          lastName: '<?php echo $lastName ?>',
          customerEmail: '<?php echo $customerEmail ?>',
          customerId: '<?php echo $customerId ?>',
          products: <?php echo json_encode($products) ?>,
          cartAction: 'override'
        }
      };
      var js = d.createElement(s);
      var fjs = d.getElementsByTagName(s)[0];
      js.async = true;
      js.src = 'https://cdn.fanplayr.com/client/production/fp_custom_orders.js?' + (new Date().getTime());
      fjs.parentNode.insertBefore(js, fjs);
    }
  })(document, window, 'script');
</script><?php

  return;
}

// --------------------------------------------

$accountKey = $helper->getAccountKey();
$embedUrl = $helper->getEmbedUrl();

$lineItemCount = 1;
$numItems = 2;
$subTotal = 100;
$total = 90;
$discount = 10;
$discountCode = 'ABC';

$currency = '';

//let's not worry about this now
//$customerEmail = '';
//$customerId = '';
//$customerSegment = '';
//$customerGroup = '';

$products = '';

$categoryId = '';
$categoryName = '';
$productId = '';
$productName = '';
$productSku = '';
$productPrice = 0;
$productUrl  = '';
$productImage  = '';


$pageType = $helper->getPageType();

if ( $pageType === 'prod' ) {
  $currentProduct = $helper->getCurrentProduct();
  if ( $currentProduct ) {
    $productId = $currentProduct->getId();
    $productName = $helper->addSlash($currentProduct->getName());
    $productPrice = $currentProduct->getFinalPrice();
    $productSku = $currentProduct->getSku();
    $productImage = $helper->getBaseMediaUrl() . 'catalog/product' . $currentProduct->getImage();
    $productUrl = $helper->getCurrentUrl();

    $categories = $currentProduct->getCategoryIds();
    $categoryIds = array();
    $categoryNames = array();
    foreach($categories as $k => $cCategoryId){
        $category = $helper->getCategoryById($cCategoryId);
        if ( $category ) {
          array_push($categoryIds, $category->getId());
          array_push($categoryNames, $helper->addSlash(str_replace(",", "-", $category->getName())));
        }
    }
    $categoryId = join(',', $categoryIds);
    $categoryName = join(',', $categoryNames);
  }
}

if ( $pageType === 'cat' ) {
  $currentCategory = $helper->getCurrentCategory();
  if ( $currentCategory ) {
    $categoryId = $currentCategory->getId();
    $categoryName = $helper->addSlash($currentCategory->getName());
  }
}

?>
<script>
  (function(d, w, s) {
    var f = function(){

      w.fanplayr = w.fanplayr || { _i:[] };
      w.fanplayr.custom = w.fanplayr.custom || {};
      var _ = w.fanplayr.custom;
      if (_.doNotTrack) {
        return;
      }

      var js = d.createElement(s),
        fjs  = d.getElementsByTagName(s)[0];

      js.async = true;

      js.src = (_.embedUrl || '<?php echo $embedUrl; ?>') + 'fpsmart/getEmbedJs/?';
      js.src += 'pageType=<?php echo urlencode($pageType); ?>';
      js.src += '&categoryId=<?php echo urlencode($categoryId); ?>';
      js.src += '&categoryName=<?php echo urlencode($categoryName); ?>';
      js.src += '&productId=<?php echo urlencode($productId); ?>';
      js.src += '&productName=<?php echo urlencode($productName); ?>';
      js.src += '&productSku=<?php echo urlencode($productSku); ?>';
      js.src += '&productPrice=<?php echo urlencode($productPrice); ?>';
      js.src += '&productUrl=<?php echo urlencode($productUrl); ?>';
      js.src += '&productImage=<?php echo urlencode($productImage); ?>';
      js.src += '&' + (new Date().getTime());

      fjs.parentNode.insertBefore(js, fjs);

    };
    f();

  }(document, window, 'script'));

</script>
<?php if( $helper->getConfig('fanplayr/notification/enabled') ): ?>
  <script src="https://static.fanplayr.com/client/sw-load.js" data-path="/index.php/fpsmart/notifications/"></script>
<?php endif; ?>